
.category-carte {
  cursor: pointer;
  position: relative;
    transition: transform 0.3s ease;
}

.category-nom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gris;
  font-weight: bold;
    z-index: 3;
     transition: all 0.3s ease;
}

.category-carte:hover .img-container::after {
  background-color:rgb(255, 200, 190,0.3); 
}

.category-image {
  height: 220px;
  width: 100%;
  display: block;
  object-fit: cover;
  text-shadow: 5px 3px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.img-container {
  position: relative;
  display: block;
}


.img-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
   transition: background-color 0.3s ease;
}

.category-carte:hover {
  transform: scale(1.02);
  z-index: 2;
}

.category-carte:hover .category-image {
  filter: grayscale(100%);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.5);

}

.category-carte:hover .category-nom {
  color: black;
  font-weight: 800;
  text-shadow: 1px 1px 8px white;
  transition: color 0.3s ease;
}