.descriptionacteur {
    color: $gris;
    font-size: 15px;
    max-width: 84%;
     text-align: justify;
}

.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
   
}

.actor {
    box-shadow: -22px -22px 0px $gris;
}

.sameActeur {
    .slick-track {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center;
        gap: 30px;
    }
}