.heart {
  color: $corailp;
  font-size: 40px;
  padding-left: 20px;
  display: inline-block;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1) translateY(-5px);

  }
}


.ratingfilm {
    color: $corailp;
    font-size: 22px;
}

.genrefilm,
.datefilm {
    color: $gris;
    font-size: 20px;
    font-weight: 600;
}

.genrefilm {
    margin-right: 12px;
}

.datefilm {
    margin-left: 12px;
}

.separation {
    font-size: 20px;
    color: $gris !important;
}

.dateetgenre {
    margin-top: 10px;
}



.acteurs {
    max-width: 90%;


    .acteurname {
        color: $gris;
        font-size: 16px;
        display: block;
    }
}

.blocbuttons {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    margin-left: -2.7%;
}

.acteurs {
    margin-left: -2.7%;
}

.xfermeture {
    position: absolute;
    top: -50px;
    right: -50px;
    background: none;
    border: none;
    color: $bleup;
    font-size: 35px;
    cursor: pointer;
    font-weight: bold;
}
.hautpage{
      flex-direction: column;
}



@media (min-width: 992px) {
 .hautpage{
  flex-direction: row;
 }
  .acteurs {
    max-width: 90% !important;


}



}

