
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 107px;
    height: 107px;
}

.reseaux {
    font-size: 30px;
    color: #FFC8BE;
}

.splitter {
    color: #FC7658;
}

.slogan-part1, .slogan-part2{
    font-weight: 600;
    font-size: 22px;
    font-style: italic;
}
.slogan-part1 {
    color: #FFC8BE;
}

.slogan-part2 {
    color: #FC7658;
}

.footer{
    height: 250px;
    display:flex;
    align-items: center;
    background-color: #001F29;
    margin-top: 80px;
}

.transition-logo {
    opacity: 0;
        transition: all 1s ease-in-out;
}

.transition-logo.visible {
    opacity: 1;
   
}
