
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.reseaux {
    font-size: 25px;
    color: #FFC8BE;
}

.splitter {
    color: #FC7658;
}

.slogan-part1 {
    color: #FFC8BE;
}

.slogan-part2 {
    color: #FC7658;
}