.bgcolor-flou {
  background-color: rgba(0, 31, 41, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.2);
}

.coeur {
  font-size: 25px;
  color: #ffc8be;
}

.input-group {
  background-color: rgba(1, 63, 81, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 30px;
  overflow: hidden;
}

.fond-search {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: white;
}

.fond-loupe {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
}

.bi-search {
  color: $gris;
  font-size: 20px;
  padding-right: 3px;
}

.fond-search:focus {
  background-color: transparent;
  color: white;
  outline: none;
  box-shadow: none;
  padding-left: 20px;
}

.navlink {
  font-weight: 500;
}

.search-bar {
  width: 100%;
  max-width: 380px;
}

/* ==== Ajouts pour mobile ==== */

.mobile-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Toggle bouton blanc + focus none */
.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
  box-shadow: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    filter: none;
  }
}

.search-bar-mobile {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
  margin-top: 16px;
}

.nav-link{
  padding: 10px 0px;
}

@media (max-width: 768px) {
  .navlink {
    font-size: 18px;
      padding: 0px 0px;
  }



 
}
