@import
url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
$font-1: "Poppins", sans-serif;
$bleuf: #001214;
$bleum: #001F29;
$bleup: #013F51;
$corailf: #FC7658;
$corailp: #FFC8BE;
$gris: #DBDBDB;
$color-3: #282c34;

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
font-family: $font-1;
color: $color-3;
background-color: #001214;
}
li {
list-style-type: none;
}
a {
text-decoration: none;
color: $color-3;
cursor: pointer;
}
a:visited {
    color: $color-3;
    }

    .carousel-wrapper {
  position: relative;
  overflow: hidden; /* masque ce qui dépasse */
}

.carousel-wrapper::before,
.carousel-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 200px; /* largeur du dégradé */
  height: 100%;
  z-index: 23; /* au-dessus des slides */
  pointer-events: none; /* ne bloque pas les clics */
}

.carousel-wrapper::before {
  left: 0;
  background: linear-gradient(to left, rgba(0, 18, 20, 0), rgba(0, 18, 20, 1));
 width: 200px;
}

.carousel-wrapper::after {
  right: 0;
  background: linear-gradient(to right, rgba(0, 18, 20, 0), rgba(0, 18, 20, 1));

}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  color: rgba(255,255,255,0.8);
}

.custom-arrow.next {
  right: 10px;
}

.custom-arrow.prev {
  left: 10px;
}

.custom-arrow i {
  font-size: 30px;
}
