@import
url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
$font-1: "Poppins", sans-serif;
$bleuf: #001214;
$bleum: #001F29;
$bleup: #013F51;
$corailf: #FC7658;
$corailp: #FFC8BE;
$gris: #DBDBDB;
$color-3: #282c34;

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
font-family: $font-1;
color: $color-3;
background-color: #001214;
}
li {
list-style-type: none;
}
a {
text-decoration: none;
color: $color-3;
cursor: pointer;
}
a:visited {
    color: $color-3;
    }