@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
$font-1: "Poppins", sans-serif;
$bleuf: #001214;
$bleum: #001F29;
$bleup: #013F51;
$corailf: #FC7658;
$corailp: rgb(255, 200, 190);
$gris: #DBDBDB;
$color-3: #282c34;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-1;
  color: $color-3;
  background-color: #001214;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $color-3;
  cursor: pointer;
}

a:visited {
  color: $color-3;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
}

.carousel-wrapper::before,
.carousel-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 23;
  pointer-events: none;

}

.carousel-wrapper::before {
  left: 0;
  background: linear-gradient(to left, rgba(0, 18, 20, 0), rgba(0, 18, 20, 1));
  width: 200px;
}

.carousel-wrapper::after {
  right: 0;
  background: linear-gradient(to right, rgba(0, 18, 20, 0), rgba(0, 18, 20, 1));

}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}

.custom-arrow.next {
  right: 10px;
}

.custom-arrow.prev {
  left: 10px;
}

.custom-arrow i {
  font-size: 30px;
}

body {
  overflow-x: hidden;
}

.textparagraphe {
  font-size: 18px;
  color: $gris;
}

.titreR {
  color: #FC7658;
  font-size: 30px;
  font-weight: 600;
}

.buttonborder,
.buttonfull {
  text-transform: uppercase;
  border: solid 4px $corailf;
  color: $corailf;
  border-radius: 63px;
  font-weight: bold;
  font-size: 25px;
  padding: 10px 74px;
  box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.2);
  text-shadow: 5px 3px 8px rgba(0, 0, 0, 0.2);
}

.buttonborder {
  background-color: transparent;
}

.buttonheader {
  z-index: 10;
  position: absolute;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.buttonfull {
  background-color: $corailf;
  color: $bleuf;

}

.buttonpetit {
  scale: 0.82;

}

.placeholder2 {
    width: auto;
    object-fit: cover;
    height: 490px;
    display: block;
}

.reflection {
    transform: scaleY(-1);
    opacity: 0.35;
    height: 120px;
    margin-top: -10px;
    width: 96%;
    margin: auto;
    mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            /* invisible au top */
            rgba(0, 0, 0, 0.15) 25%,
            /* très léger au quart */
            rgba(0, 0, 0, 0.3) 50%,
            /* un peu plus visible au centre */
            rgba(0, 0, 0, 0.15) 75%,
            /* s’efface doucement */
            rgba(0, 0, 0, 0) 100%
            /* transparent à la fin */
        );
    -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.15) 25%,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(0, 0, 0, 0.15) 75%,
            rgba(0, 0, 0, 0) 100%);
            
}

.placeholder3 {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 10px;
    transition: transform 0.3s ease 0.1s;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        background-color: rgba(255, 111, 97, 0.2);
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
    }

    &:hover::after {
        opacity: 1;
    }

    &:hover {
        transform: scale(1.02) translateY(-3px);
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    }

    .img-inside {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        filter: grayscale(100%);
        transition: transform 0.3s ease;
        
    }

    &:hover .img-inside {
        transform: scale(1.05);

        
    }
}


.hautpage {
    margin-top: 140px;
}

.titlefilm {
    text-transform: capitalize;
    color: $corailf;
    font-size: 49px;
    font-weight: 600;
}

.synopsis {
    margin-top: 24px;
    margin-bottom: 30px;
}

.contrast:hover{
 
  filter: contrast(150%);

}

.changementPage{
  color: $gris;
  font-size: 18px;
  background-color: transparent;
  padding: 10px;
  box-shadow: none;
  border: none;
  text-align: center;
}

.changementPage:hover{
  color: $corailp;
}

.pagination-container {
  display: flex;
  justify-content: center;
gap: 5px;
  margin-top: 1rem;
  flex-wrap: wrap; // utile si jamais y'a beaucoup de pages
}

.activePage {
  transform: scale(1.3);
  color: $corailf; 
  transition: transform 0.3s ease;
}

.caps{
    text-transform:uppercase;
}

.corailf{
  color: $corailf;
}

.textgris{
  color: $gris;
}

.nofocus:focus {
  outline: none;
  box-shadow: none;
}

